<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
    </div>
    <div class="w3-container">
      <h2>List Users</h2>
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-light-grey">
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Class</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0;i< dataUser.length;i++) { %>
          <tr>
            <td><%=dataUser[i].id%></td>
            <td><%=dataUser[i].name%></td>
            <td><%=dataUser[i].gender%></td>
            <td><%=dataUser[i].email%></td>
            <td><%=dataUser[i].phone%></td>
            <td><%=dataUser[i].class%></td>
            <td class="actions">
              <a href="/detail/students/<%= dataUser[i].id %>">
                <button>Detail</button>
              </a>
              <a href="/edit-students/<%= dataUser[i].id %>">
                <button>Edit</button>
              </a>

              <form action="/delete-students" method="POST">
                <input
                  type="text"
                  hidden
                  value="<%= dataUser[i].id %>"
                  name="userId"
                />
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <div class="create-user-container">
      <form action="/students" method="post" id="userForm">
        <div><b>Create a new students</b></div>
        <!-- <div>
          <label>Id</label>
          <input type="text" name="id" />
        </div> -->
        <div>
          <label>Name</label>
          <input type="text" name="name" />
        </div>
        <div>
          <label>Gender</label>
          <input type="text" name="gender" />
        </div>
        <div>
          <label>Email</label>
          <input type="email" name="email" />
        </div>
        <div>
          <label>Phone</label>
          <input type="text" name="phone" />
        </div>
        <div>
          <label>Class</label>
          <input type="text" name="className" />
        </div>
        <div class="btn-submit">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <!-- <script>
      document.getElementById("userForm").onsubmit = function (e) {
        let lastName = document
          .querySelector("input[name='lastName']")
          .value.trim();
        let firstName = document
          .querySelector("input[name='firstName']")
          .value.trim();
        let email = document.querySelector("input[name='email']").value.trim();
        let address = document
          .querySelector("input[name='address']")
          .value.trim();

        if (
          lastName === "" ||
          firstName === "" ||
          email === "" ||
          address === ""
        ) {
          alert("Vui lòng nhập đầy đủ thông tin!");
          e.preventDefault(); // chặn submit
          return false;
        }

        let regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!regex.test(email)) {
          alert("Email không hợp lệ!");
          e.preventDefault();
          return false;
        }

        return true;
      };
    </script> -->
  </body>
</html>
