<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update user</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="Update-user">
      <form action="/update-students" method="POST">
        <div>
          <label>Name</label>
          <input name="name" value="<%=dataUser.name %>" />
        </div>
        <div>
          <label>Gender</label>
          <input name="gender" value="<%=dataUser.gender %>" />
        </div>
        <div>
          <label>Email</label>
          <input name="email" value="<%=dataUser.email%>" />
        </div>
        <div>
          <label>Phone</label>
          <input name="phone" value="<%=dataUser.phone %>" />
        </div>
        <div>
          <label>Class</label>
          <input name="className" value="<%=dataUser.class %>" />
        </div>
        <input type="text" name="id" hidden value="<%=dataUser.id %>" />
        <div>
          <button class="btn-save" type="submit">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>
